html, body {
    margin: 0;
    padding: 0;
    background-color: ghostwhite;
}

#site {
    border: 5px ridge ghostwhite;
    border-top: none;
    background-color: white;
    width: 1200px;
    margin: auto;
    padding: 10px;
}

header {
    height: 100px;
}

article {
    padding-top: 20px;
}

nav {
    text-align: center;
    border-bottom: 1px gray dashed;
}

nav .nav_item {
    cursor: pointer;
    border-radius: 5px;
    /*box-shadow: 3px 3px 1px lightgreen;*/
    border: 1px green solid;
    background-color: lightgreen;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

nav .nav_item:hover {
    box-shadow: 3px 3px 1px lightgreen;
    background-color: green;
}
/*Original Bootstrap's CSS depends on empty href attributes to style cursors for several components (pagination, tabs etc.).
But in AngularJS adding empty href attributes to link tags will cause unwanted route changes.
This is why we need to remove empty href attributes from directive templates and as a result styling is not applied correctly.
The remedy is simple, just add the following styling to your application:*/
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

a {
    cursor: pointer;
}