<!DOCTYPE html>

<html lang="en" ng-app="ganttApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="css/angular-material.css"/>


    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="gantt/gantt.css"/>
    <link rel="stylesheet" href="welcome/welcome.css"/>
    <link rel="stylesheet" href="gantt/components/taskDetail/taskDetail.css"/>


    <title>TypeScript HTML App</title>

    <script src="lib/jquery.js"></script>
    <script src="lib/konva.js"></script>
    <script src="lib/jquery-resize.js"></script>

    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-route.min.js"></script>
    <script src="lib/angular/angular-local-storage.min.js"></script>
    <script src="lib/angular/angular-animate.min.js"></script>
    <script src="lib/angular/angular-aria.min.js"></script>
    <script src="lib/angular/angular-material.min.js"></script>
    <script src="lib/cycle.js"></script>


    <script src="gantt/Util/Serializer.js"></script>
    <script src="gantt/Util/Hashable.js"></script>
    <script src="gantt/Util/HashSet.js"></script>
    <script src="gantt/Util/IComparable.js"></script>
    <script src="gantt/Util/IntervalList/IInterval.js"></script>
    <script src="gantt/Util/IntervalList/IntervalOverlapError.js"></script>
    <script src="gantt/Util/IntervalList/IntervalBoundariesError.js"></script>
    <script src="gantt/Util/IntervalList/IntervalList.js"></script>
    <script src="gantt/Util/IntervalList/IntervalDate.js"></script>

    <script src="gantt/Model/WorkingCalendar/Duration.js"></script>
    <script src="gantt/Model/WorkingCalendar/WorkingHour.js"></script>
    <script src="gantt/Model/WorkingCalendar/WorkingDay.js"></script>
    <script src="gantt/Model/WorkingCalendar/Exclusion.js"></script>
    <script src="gantt/Model/WorkingCalendar/WorkingCalendar.js"></script>


    <script src="gantt/Model/Schedulers/ResourceManager.js"></script>
    <script src="gantt/Model/Schedulers/Scheduler.js"></script>
    <script src="gantt/Model/Schedulers/LeastSlackTimeScheduler.js"></script>

    <script src="gantt/Model/Resources/ResourceType.js"></script>
    <script src="gantt/Model/Resources/ResourceUsage.js"></script>


    <script src="gantt/Model/Task.js"></script>
    <script src="gantt/Model/Dependency.js"></script>
    <script src="gantt/Model/Summary.js"></script>
    <script src="gantt/Model/Schedulable.js"></script>
    <script src="gantt/Model/Project.js"></script>

    <script src="gantt/Util/ProjectGenerator.js"></script>

    <script src="gantt/View/Utils.js"></script>
    <script src="gantt/View/TimeLineDrawer.js"></script>
    <script src="gantt/View/TaskDrawer.js"></script>
    <script src="gantt/View/SchedulableDrawer.js"></script>
    <script src="gantt/View/SummaryDrawer.js"></script>
    <script src="gantt/View/TaskDrawerFactory.js"></script>
    <script src="gantt/View/ProjectDrawer.js"></script>

    <script src="components/LayoutController.js"></script>
    <script src="components/SidenavController.js"></script>
    <script src="components/ProjectService.js"></script>
    <script src="gantt/components/taskDetail/TaskDetailController.js"></script>
    <script src="gantt/components/taskDetail/TaskVO.js"></script>
    <script src="gantt/GanttController.js"></script>


    <script src="app.js"></script>
</head>
<body layout="column" ng-controller="LayoutController as layout">

<md-toolbar layout="row">
    <md-button class="menu" hide-gt-md ng-click="layout.toggleList()" aria-label="Show User List">
        <md-icon md-svg-src="menu"></md-icon>
    </md-button>
    <h1>Gantt-Diagram Application</h1>
</md-toolbar>

<div flex layout="row">

    <md-sidenav md-is-locked-open="$mdMedia('gt-md')" class="md-whiteframe-z2" md-component-id="left">
        <md-list ng-controller="SidenavController as sidenavCtrl">
            <md-item>
                <md-button ng-click="sidenavCtrl.new()">
                    <h3>New</h3>
                </md-button>
            </md-item>
            <md-item>
                <md-button>
                    <h3>Open</h3>
                </md-button>
            </md-item>
            <md-item>
                <md-button>
                    <h3>Save</h3>
                </md-button>
            </md-item>
        </md-list>

    </md-sidenav>

    <md-content flex id="content" ng-view></md-content>
</div>


</body>
</html>