<md-dialog aria-label="New task" id="task-editor">
    <md-dialog-content class="sticky-container">
        <md-subheader class="md-sticky-no-effect">
            <ng-switch on="taskDetailController.task.id == null">
                <span ng-switch-when="true">
                    New {{taskDetailController.isSummary ? "Wrapper" : "Task"}}
                    <span ng-if="taskDetailController.task.name.length != 0">({{taskDetailController.task.name}})</span>
                </span>
                <span ng-switch-default>
                    Edit {{taskDetailController.isSummary ? "wrapper" : "task"}}
                    <span ng-if="taskDetailController.task.name.length != 0">({{taskDetailController.task.name}})</span>
                </span>
            </ng-switch>
        </md-subheader>

        <md-tabs>
            <md-tab>
                <md-tab-label>Details</md-tab-label>
                <md-tab-body>
                    <md-input-container flex>
                        <label>Name</label>
                        <input type="text" ng-model="taskDetailController.task.name"/>
                    </md-input-container>

                    <md-input-container flex>
                        <label>Description</label>
                        <input type="text" ng-model="taskDetailController.task.description"/>
                    </md-input-container>


                    <label>Select parent</label>
                    <select ng-options="summary as summary.name for summary in taskDetailController.project.getAllSummaries()"
                            ng-model="taskDetailController.task.parent">
                        <option></option>
                    </select>


                    <!--<md-input-container>-->
                    <!--<md-select ng-model="taskDetailController.task.parent">-->
                    <!--<md-option ng-repeat="summary in taskDetailController.project.getAllSummaries()"></md-option>-->
                    <!--</md-select>-->
                    <!--</md-input-container>-->


                    <md-checkbox ng-model="taskDetailController.hasEarliestConstraint"
                                 aria-label="Has earliest constraint checkbox">
                        Has earliest constraint
                    </md-checkbox>
                    <md-input-container flex ng-show="taskDetailController.hasEarliestConstraint">
                        <label>Earliest constraint</label>
                        <input type="datetime-local" ng-model="taskDetailController.task.earliestConstraint"/>
                    </md-input-container>

                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>Dependencies</md-tab-label>
                <md-tab-body>
                    <h4>New dependency</h4>
                    <select ng-options="task as task.name for task in taskDetailController.project.getAllTasks()"
                            ng-model="taskDetailController.newDependency.task">
                    </select>
                    <h5>Lag</h5>

                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>Day</label>
                            <input type="number" step="any" required
                                   ng-model="taskDetailController.newDependency.lag.day">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Hour</label>
                            <input type="number" step="any" required
                                   ng-model="taskDetailController.newDependency.lag.hour">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Minute</label>
                            <input type="number" step="any" required
                                   ng-model="taskDetailController.newDependency.lag.minute">
                        </md-input-container>
                    </div>

                    <md-button class="md-raised" ng-click="taskDetailController.addDependency()">Add</md-button>

                    <h4>Current dependencies</h4>
                    <md-list>
                        <md-list-item ng-repeat="dependency in taskDetailController.task.predecessors">
                            <div>
                                {{dependency.task.name}}&nbsp;
                                <span class="lag">({{dependency.lag.day}} days {{dependency.lag.hour}} hours {{dependency.lag.minute}} mins)</span>
                                <img class="remove-icon" ng-src="gantt/components/taskDetail/remove.png" />
                            </div>
                        </md-list-item>
                    </md-list>

                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>Resources</md-tab-label>
                <md-tab-body>Resources</md-tab-body>
            </md-tab>
        </md-tabs>


    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button class="md-primary">OK</md-button>
        <md-button class="md-primary">Cancel</md-button>
    </div>
</md-dialog>

